body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://source.unsplash.com/random/1920x1080'); 
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6); 
}

.container {
    display: block;
    position: relative;
    top: -7%;
    width: 95%;
    height: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
input{
    margin-left: 237px;
    margin-bottom: 10px;
    position: absolute;
    display:block;
    top: 20px;
    left: -216px;
    border-radius: 5px;
    border-color: #58a4dd;
    width: 250px;
}

textarea {
    width: 94.5%;
    height: 55%;
    position: absolute;
    display:block;
    margin-bottom: 20px;
    padding: 20px;
    top: 65px;
    border: 3px solid #58a4dd;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

textarea:focus {
    outline: none;
    border-color: #58a4dd;
}

button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #58a4dd;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.save {
    position: fixed;
    display: block;
    top: 63%;
    margin: auto;
}

button:hover {
    background-color: #58a4dd;
}

button:active {
    transform: translateY(1px);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.alert {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    animation: slideIn 0.5s ease;
}

.hidden {
    animation: fadeOut 0.5s ease forwards;
    display: none;
}

.page-name{
    background-color: white;
    position: fixed;
    top: 0;
    display: block;
    margin: auto;
    padding-left: 50px;
    width: 100%;
    color: dodgerblue;
}

.container2 {
    display: block;
    position: fixed;
    top: 75.5%;
    background-color: white;
    width: 97.5%;
    height: 10%;
    left: 1%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.load{
    position: fixed;
    top: 78.2%;
    right: 43px;
}

.delete-options{
    position: fixed;
    top: 17.3%;
    right: 140px;
}
.copy{
    position: fixed;
    top: 17.3%;
    right: 45px;
}
